.container {
    background-image: url(back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

.main {
    background: rgba(255, 255, 255, 0);
}


.cbp-contentslider {
    border: 20px solid #fff;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.cbp-contentslider > ul, .cbp-contentslider > nav {
    border: 2px solid #4F2D21;
}


.cbp-contentslider > ul li {
    background: rgba(255, 255, 255, 0.9);
}
