/*
my tweaks to the default template. easier to make revisions here and load this css last. 
*/

/*site setup*/
.page {background: #f7f4e4;}

body, h1, h2, h3, h4, h5, h6, p {
font-family: 'Raleway', sans-serif;
line-height: 1.3em;
color: #f7f4e4;
font-weight: 500;
}

body {
color: #000;
font-weight: 400;}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6, .page p {color:black;}

.item-thumbs .hover-wrap .overlay-img {background:#7EACA7;}



/*sticky nav tweaks and footer */
header .sticky-nav, footer {background: #7EACA7;}

nav#menu #menu-nav li a, footer .credits {font-weight:500;text-transform: none;font-size:18px;}

nav#menu #menu-nav li.current a, nav#menu #menu-nav li a:hover, header #logo a:hover {color:black;}

header #logo a {background:none; text-indent:0px; width:150px; color:#fff; font-weight:500; font-size:18px;}





/*green sections*/
.page-alternate {background: #a6b583;}



/*back to top icon*/
#back-to-top:hover {background-color: #7EACA7;}


.title-page .title {
font-size: 60px;
font-weight: 800;
margin: 0;
}

.title-page {
text-align: left;
}


.floatRight {margin-left:40px;}

.center {text-align: center;}

.topMargin {margin-top: 55px;}

.tab-content {background:  #f7f4e4;}

.beige {color: #f7f4e4;}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
background-color:  #f7f4e4;
color: #000;
}

.nav-tabs li a {background: none;
-webkit-transition: opacity .15s linear;
-moz-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;}

.nav-tabs li a:hover {background: #7EACA7 !important;
-webkit-transition: opacity .15s linear;
-moz-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;}



.bigIcon {
font-size: 65px;
background: #7eaca7;
padding: 20px;
margin-left:20px;
text-align: center;
float: right;
width: 120px;
color: #f7f4e4;
}